/* main.css */

/* for logo */
@import url(http://fonts.googleapis.com/css?family=Playfair+Display);


body {background: #f5f5f5;}

hr {
	border-color: #222;
	margin-top: 0;
}

.hm {
	font-size: 1.4em;
	color: #222;
    font-family: 'Playfair Display', serif;
}


.collection-nav {
	padding-top: 10px; 
	font-family: 'Playfair Display', serif;
	font-size: 1.2em;
}

.collection-nav a {color: #222;}

.collection-nav a:hover {color: orange; text-decoration: none;}

.collection-nav .item {padding-left: 10px;}


